

<div class="container">
  <form id="contact">
    <h3>Encryption/Decryption of Enigma Machine</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <label>
        <input placeholder="Your message" type="text" tabindex="1"  [value]="message" (change)="changeMessage($event)" required autofocus>

      </label>
    </fieldset>
    <fieldset>
      <label>
        <input placeholder="StartingShift" type="number" [value]="startingShift" tabindex="2" (change)="changeStartingShift($event)" required>
      </label>
    </fieldset>
    <fieldset>
      <label>
        <input placeholder="Rotor1" type="text"  [value]="enigma.rotor1" tabindex="3" required>
      </label>
    </fieldset>
    <fieldset>
      <label>
        <input placeholder="Rotor2" type="text" [value]="enigma.rotor2"  tabindex="4" required>
      </label>
    </fieldset>
    <fieldset>
      <label>
        <input placeholder="Rotor3" type="text" [value]="enigma.rotor3" tabindex="5" required>
      </label>
    </fieldset>
    <fieldset>
      <label>
        <span>{{messageCode}}</span>
      </label>
    </fieldset>
    <fieldset>
      <button  type="submit" id="encode" (click)="encode()">Encode</button>
      <button type="submit" id="decode" (click)="decode()">Decode</button>
    </fieldset>
  </form>
</div>
